---
sudo: false
language: ruby
bundler_args: --without system_tests
script: "bundle exec rake lint && bundle exec rake spec SPEC_OPTS='--format documentation'"

matrix:
  fast_finish: true
  include:
  - rvm: 2.3.1
    env: PUPPET_GEM_VERSION="~> 4.10" STRICT_VARIABLES="yes" ORDERING="random"
bundler_args: --without development
